<div class="container">
    <div class="calculator">
        <div class="screen">
            <p class="previous-input"></p>
            <p class="current-input">0</p>
        </div>
        <div class="buttons">
            <button data-calc-operator="clear">AC</button>
            <button data-calc-operator="del">DEL</button>
            <button data-calc-operator="percent">%</button>
            <button data-calc-operator="divide">/</button>
            <button data-calc-number="7">7</button>
            <button data-calc-number="8">8</button>
            <button data-calc-number="9">9</button>
            <button data-calc-operator="multiply">*</button>
            <button data-calc-number="4">4</button>
            <button data-calc-number="5">5</button>
            <button data-calc-number="6">6</button>
            <button data-calc-operator="subtract">-</button>
            <button data-calc-number="1">1</button>
            <button data-calc-number="2">2</button>
            <button data-calc-number="3">3</button>
            <button data-calc-operator="add">+</button>
            <button data-calc-operator="switch-sign">+/-</button>
            <button data-calc-number="0">0</button>
            <button data-calc-operator="dot">.</button>
            <button data-calc-operator="equal">=</button>
        </div>
    </div>
</div>
