<div class="container">
  <div class="settings">
    <div class="row">
      <h2>Network</h2>
      <ul>
        <li>
          Icon
          <label class="switch">
            <input type="checkbox" data-setting="network">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>Date format</h2>
      <ul>
        <li>Date 
          <label class="switch">
            <input type="checkbox" data-setting="date">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Year 
          <label class="switch">
            <input type="checkbox" data-setting="year">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Month 
          <label class="switch">
            <input type="checkbox" data-setting="month">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Day 
          <label class="switch">
            <input type="checkbox" data-setting="day">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>Time format</h2>
      <ul>
        <li>Time 
          <label class="switch">
            <input type="checkbox" data-setting="time">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Minutes 
          <label class="switch">
            <input type="checkbox" data-setting="minute">
            <span class="slider round"></span>
          </label>
        </li>
        <li>Secondes 
          <label class="switch">
            <input type="checkbox" data-setting="second">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
    <div class="row">
      <h2>Battery</h2>
      <ul>
        <li>Icon
          <label class="switch">
            <input type="checkbox" data-setting="battery">
            <span class="slider round"></span>
          </label>
        </li>
      </ul>
    </div>
  </div>  
</div>