<div class="container">
    <div class="settings">
        <div class="row">
            <h2>Network</h2>
            <ul>
                <li>
                    <label for="setting-network-icon">Icon</label>
                    <label for="setting-network-icon" aria-label="Display network icon" class="switch">
                        <input id="setting-network-icon" type="checkbox" data-setting="network">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="row">
            <h2>Date format</h2>
            <ul>
                <li>
                    <label for="setting-date-date">Date</label>
                    <label for="setting-date-date" aria-label="Display date" class="switch">
                        <input id="setting-date-date" type="checkbox" data-setting="date">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <label for="setting-date-year">Year</label>
                    <label for="setting-date-year" aria-label="Display year" class="switch">
                        <input id="setting-date-year" type="checkbox" data-setting="year">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <label for="setting-date-month">Month</label>
                    <label for="setting-date-month" aria-label="Display month" class="switch">
                        <input id="setting-date-month" type="checkbox" data-setting="month">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <label for="setting-date-day">Day</label>
                    <label for="setting-date-day" aria-label="Display day" class="switch">
                        <input id="setting-date-day" type="checkbox" data-setting="day">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="row">
            <h2>Time format</h2>
            <ul>
                <li>
                    <label for="setting-time-time">Time</label>
                    <label for="setting-time-time" aria-label="Display time" class="switch">
                        <input id="setting-time-time" type="checkbox" data-setting="time">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <label for="setting-time-minutes">Minutes</label>
                    <label for="setting-time-minutes" aria-label="Display minutes" class="switch">
                        <input id="setting-time-minutes" type="checkbox" data-setting="minute">
                        <span class="slider round"></span>
                    </label>
                </li>
                <li>
                    <label for="setting-time-seconds">Seconds</label>
                    <label for="setting-time-seconds" aria-label="Display seconds" class="switch">
                        <input id="setting-time-seconds" type="checkbox" data-setting="second">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
        <div class="row">
            <h2>Battery</h2>
            <ul>
                <li>
                    <label for="setting-battery-icon">Icon</label>
                    <label for="setting-battery-icon" aria-label="Display battery icon" class="switch">
                        <input id="setting-battery-icon" type="checkbox" data-setting="battery">
                        <span class="slider round"></span>
                    </label>
                </li>
            </ul>
        </div>
    </div>
</div>
