<div class="container">
    <div class="board">
        <button class="btn btn-grey" data-reset>Reset</button>
        <div class="row">
            <div class="cell left-top" data-cell-position="0" data-cell-type></div>
            <div class="cell" data-cell-position="1" data-cell-type></div>
            <div class="cell right-top" data-cell-position="2" data-cell-type></div>
            <div class="cell" data-cell-position="3" data-cell-type></div>
            <div class="cell" data-cell-position="4" data-cell-type></div>
            <div class="cell" data-cell-position="5" data-cell-type></div>
            <div class="cell left-bottom" data-cell-position="6" data-cell-type></div>
            <div class="cell" data-cell-position="7" data-cell-type></div>
            <div class="cell right-bottom" data-cell-position="8" data-cell-type></div>
        </div>
    </div>
    <div class="match-result">
        <span class="match-winner"></span>
        <span class="match-score"></span>
        <small>Click to replay</small>
    </div>
</div>
