@import "@styles/variables.scss";

html,
body,
#root {
    height: 100vh;
    width: 100vw;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #00211c;
}

#root {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: $mobile-breakpoint) {
        flex-direction: column-reverse;
    }
}

#desktop {
    display: flex;
    flex-grow: 1;
    background-color: #00211c;
    justify-content: center;
    align-items: center;
}

#task-bar {
    background-color: grey;
    color: white;
}

#loading {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #2b2727, $alpha: 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: rgb(184, 169, 143);
    fill: rgb(184, 169, 143);

    .spinner_9y7u{
        animation:spinner_fUkk 2.4s linear infinite;
        animation-delay:-2.4s
    }

    .spinner_DF2s{
        animation-delay:-1.6s
    }

    .spinner_q27e{
        animation-delay:-.8s

    }

    @keyframes spinner_fUkk{
        8.33% {
            x:13px;
            y:1px
        }

        25% {
            x:13px;
            y:1px
        }

        33.3% {
            x:13px;
            y:13px
        }

        50% {
            x:13px;
            y:13px
        }

        58.33% {
            x:1px;
            y:13px
        }

        75% {
            x:1px;
            y:13px
        }

        83.33% {
            x:1px;
            y:1px
        }
    }
}

noscript {
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgb(206, 76, 76);
}
