@import "@styles/variables.scss";

.tooltip {
    position: relative;
    display: inline-block;

    .tooltip-content {
        visibility: hidden;
        width: 120px;
        background-color: rgba($color: #474141, $alpha: 0.8);
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        position: absolute;
        z-index: 1;
        bottom: 100%;
        left: 50%;
        margin-left: -60px;
        opacity: 0;
        transition: opacity 1s;
        text-transform: capitalize;

        @media screen and (max-width: $mobile-breakpoint) {
            display: none;
            visibility: none;
        }

        &::after {
            content: " ";
            position: absolute;
            top: 100%; /* At the bottom of the tooltip */
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: black transparent transparent transparent;
        }
    }

    &:hover {
        .tooltip-content {
            visibility: visible;
            opacity: 1;
        }
    }
}