// Breakpoints
$mobile-breakpoint: 576px;

// Colors
$window-color: rgba(50, 151, 47);
$red: rgb(208, 65, 30);
$yellow: rgb(219, 199, 21);
$blue: rgb(41, 180, 240);

// Blur
$window-bg-blur: rgba(50, 151, 47, 0.21);
$window-border-blur: rgba(50, 151, 47, 0.3);
$window-shadow-blur: rgba(0, 0, 0, 0.1);