@use "@styles/reset.scss";
@use "@styles/global.scss";

@import "@styles/variables.scss";

.window {
    position: fixed;
    resize: both;
    display: flex;
    flex-direction: column;
    animation: open-window 0.1s ease-in forwards;
    width: fit-content;
    overflow: auto;
    min-height: 30rem;
    min-width: 30rem;

    @media (max-width: $mobile-breakpoint) {
        min-height: 20rem;
        min-width: 20rem;
        animation: open-window-top 0.1s ease-in forwards;
    }

    &-toolbar {
        display: flex;
        justify-content: end;
        background-color: $window-bg-blur;
        border: 0.2rem solid $window-border-blur;
        border-bottom: none;
        border-radius: 10px 10px 0 0;
        box-shadow: 0 4px 30px $window-shadow-blur;
        backdrop-filter: blur(5px);
        height: 2rem;
        padding: 0.2rem;
        cursor: move;

        @media (max-width: $mobile-breakpoint) {
            background-color: $window-bg-blur-mobile;
        }

        &_appname {
            color: #fff;
            text-transform: capitalize;
            flex-grow: 1;
            display: flex;
            align-items: center;
            font-weight: 600;
            font-size: 1rem;
            pointer-events: none;
            user-select: none;
        }

        @media (max-width: $mobile-breakpoint) {
            cursor: default;

            [data-screen] {
                display: none;
                visibility: none;
            }
        }
    }

    &-content {
        display: flex;
        justify-content: center;
        align-items: center;
        border: 0.2rem solid $window-border-blur;
        border-top: none;
        border-radius: 0 0 10px 10px;
        flex-grow: 1;
        overflow: auto;
        background-color: #fff;
    }

    &.windowed {
        @media (min-width: $mobile-breakpoint) {
            top: 25%;
            left: calc(50% - (25rem / 2));
            // Initial size
            width: 25rem;
            height: 25rem;
        }
    }

    &.fullscreen {
        resize: none;
        width: 100vw !important;
        width: 100dvw !important;
        height: 94.5vh !important;
        height: 94.5dvh !important;
        top: 0 !important;
        left: 0 !important;
    }

    @media (max-width: $mobile-breakpoint) {
        bottom: calc((100vh - 75vh) / 2);
        bottom: calc((100dvh - 75dvh) / 2);
        left: 0;
        width: 100%;
        height: 75vh;
        height: 75dvh;
        min-height: unset;
        min-width: unset;
    }

    .container {
        flex-grow: 1;
        height: 100%;
        padding: 0.5rem;
        display: flex;
        justify-content: center;
        position: relative;
        flex-direction: column;
    }
}

.stash {
    animation: close-window 0.1s ease-out forwards;

    @media (max-width: $mobile-breakpoint) {
        animation: close-window-top 0.1s ease-out forwards;
    }
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.75rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    margin-left: 0.25rem;
    color: #fff;
    border-radius: 0.5rem;
    border: none;
    transition: background-color 0.1s ease;
    cursor: pointer;

    &-blue {
        background-color: $blue;
        &:hover {
            background-color: darken($blue, 10%);
        }
    }

    &-yellow {
        background-color: $yellow;
        &:hover {
            background-color: darken($yellow, 10%);
        }
    }

    &-red {
        background-color: $red;
        &:hover {
            background-color: darken($red, 10%);
          }
    }
    &-grey {
        background-color: $grey;
        &:hover {
            background-color: darken($grey, 10%);
          }
    }
}

@keyframes open-window {
    0% {
        transform: translate(-100%, 100%) scale(0);
        opacity: 0;
    }

    50% {
        transform: translate(-50%, 50%) scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }
}

@keyframes close-window {
    0% {
        transform: translate(0, 0) scale(1);
        opacity: 1;
    }

    50% {
        transform: translate(-50%, 50%) scale(0.5);
        opacity: 0.5;
    }

    100% {
        transform: translate(-100%, 100%) scale(0);
        opacity: 0;
    }
}

@keyframes open-window-top {
  0% {
    transform: translate(-100%, -100%) scale(0);
    opacity: 0;
  }

  50% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }
}

@keyframes close-window-top {
  0% {
    transform: translate(0, 0) scale(1);
    opacity: 1;
  }

  50% {
    transform: translate(-50%, -50%) scale(0.5);
    opacity: 0.5;
  }

  100% {
    transform: translate(-100%, -100%) scale(0);
    opacity: 0;
  }
}
