<div id="container">
    <div id="logo">
        <img height="32" width="32" src="/assets/logo.svg" alt="Show/hide main menu" loading="lazy" />
    </div>
    <nav id="tasks"></nav>
    <div id="info">
        <div id="info-icons">
            <div id="info-battery-status">
                <battery-icon></battery-icon>
            </div>
            <div id="info-network-status">
                <network-icon></network-icon>
            </div>
        </div>
        <div id="info-datetime">
            <span id="current-time"></span>
            <span id="current-date"></span>
        </div>
    </div>
</div>
