<div id="container">
  <div class="calculator">
    <div class="screen">
      <p data-calc="result">0</p>
    </div>
    <div class="buttons">
      <button data-calc-operator="clear">AC</button>
      <button data-calc-operator="switch"-sign>+/-</button>
      <button data-calc-operator="percent">%</button>
      <button data-calc-operator="divide">/</button>
      <button data-calc-number="seven">7</button>
      <button data-calc-number="eight">8</button>
      <button data-calc-number="nine">9</button>
      <button data-calc-operator="multiply">*</button>
      <button data-calc-number="four">4</button>
      <button data-calc-number="five">5</button>
      <button data-calc-number="six">6</button>
      <button data-calc-operator="subtract">-</button>
      <button data-calc-number="one">1</button>
      <button data-calc-number="two">2</button>
      <button data-calc-number="three">3</button>
      <button data-calc-operator="add">+</button>
      <button data-calc-number="zero">0</button>
      <button data-calc-operator="dot">.</button>
      <button data-calc-operator="equal">=</button>
    </div>
  </div>
  
</div>