<div id="container">
    <div id="logo">
        <svg
            version="1.1"
            id="svg69"
            width="30"
            height="30"
            viewBox="0 0 10.24 10.24"
            sodipodi:docname="logo.svg"
            inkscape:version="1.1.2 (0a00cf5339, 2022-02-04)"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            xmlns="http://www.w3.org/2000/svg"
            xmlns:svg="http://www.w3.org/2000/svg"
            aria-label="Show/hide main menu"
        >
            <defs id="defs73" />
            <sodipodi:namedview
                id="namedview71"
                pagecolor="#ffffff"
                bordercolor="#666666"
                borderopacity="1.0"
                inkscape:pageshadow="2"
                inkscape:pageopacity="0.0"
                inkscape:pagecheckerboard="0"
                showgrid="false"
                inkscape:zoom="78.320314"
                inkscape:cx="5.1136158"
                inkscape:cy="5.1199999"
                inkscape:window-width="1920"
                inkscape:window-height="1007"
                inkscape:window-x="0"
                inkscape:window-y="0"
                inkscape:window-maximized="1"
                inkscape:current-layer="g75"
            />
            <g
                inkscape:groupmode="layer"
                inkscape:label="Image"
                id="g75"
            >
                <image
                    width="10.24"
                    height="10.24"
                    preserveAspectRatio="none"
                    xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAABbmlDQ1BpY2MAACiRdZE7SwNBFIW/
                        JEpEIylUELFIEcUiATEglhoLmyASIxi1STYvIY9ld4MEW8HGQrAQbXwV/gNtBVsFQVAEESt/gK9G
                        wnonK0QkzjJ7P87MucycAXesqJXMtlEolS0jPhMNLCaXAt4XOumjlwjulGbqU3NzMf4dn3e4VL0N
                        q17/72s5ujJZUwNXh/C4phuW8KRwbM3SFW8J92qFVEb4UDhkyAGFr5SedvhZcd7hd8VGIj4NbtUz
                        kP/F6V+sFYyS8IhwsFSsaj/nUTfxZcsL81IHZA5iEmeGKAHSVFmliEVYalkya+0bbfhmqYhHk79O
                        DUMceQriDYlala5ZqTnRs/IVqanc/+Zp5iJjTndfFNqfbPttCLw7UN+27a8j264fg+cRLspNf0Vy
                        mvgQfbupBQ/AvwFnl00tvQvnm9D/oKeMVEPyyHTncvB6Ct1J6LmBzmUnq591Tu4hsS5PdA17+zAs
                        +/0r3+77aAICQUvRAAAACXBIWXMAAC4jAAAuIwF4pT92AAAGfUlEQVRYR8WX228VZRTF17RQKNfK
                        HQqFtlAuVaiFEKggiLGJJpigEgJR44OJ8R/x1Rfjk/EFMUaRBBQxclesyr0oSCnQCwUC5SIUeoMy
                        /tbMmXJOaaHlhUmmp2fm+/Zee+2197dPEIahnuWV9Syd2/egpwUQFOSHepBib3CWwrqm4GlsBQNN
                        QTBjaqj7D6Q5E6S1L0jHLkk7z0idXQovXBowiH4DCAqnheq8L40bLq1bIK3B+dhh0r0u6dAFaePR
                        +FOhwsb+A+kXgGDalFA52dKrJdL7C6XCMVHE0eUskILo+/7z0qYjUk2zlB0obLj4REYeCyCYnspz
                        WT6OF0kLp+EQj13cdnr5tjQsRxo9FCZIi0G2dEg/n5Y2V0tN/7EuW2F93/roFUCUZ1ObnyetL5de
                        I/Ih6NXP7ORmm7T9lPTtMdJASj5YLC2dgaQBZX3ksPbaHWnrP9KPJ6UbrdG+3oT6CIBg6uRQI4jo
                        9bnSW+R6/AjoJfeDcOzP/Welr6G54YZUgVOzcZjcl0+VNsDS/ClxalwhZqnhpvQ9bOyrlVo7eTYI
                        IBe6U9MNwCLzi2DdslDriHrW+DgadwobO35R+gbH1XzOm4Qz1iwvip3tA9QmRFgPKD9750WpeFy8
                        zxd60L9XAHJcOgJYQCcgHgKYitDWIzBH4Y2+s/F+7pr0HcarENjEUdLbZdLKWdJwct+REuIQ2LlD
                        dHspRzu5RYoq50hvzpcmjyYQ1mVhKwsgn+6R9tQobLocsZDWiHA4AQcErQ7+XCeH28mhjSIkrQXY
                        qtlSHqXXhsHW9rS+c08KsLcCp/MLpN2IcCcaqaojlaVUD/tGDIl1lAvwtO6f2Qmt5Hupt3/VS1uI
                        ZsJI6aNVUgm0t+OoOd1xz97H+2xMvkEKiiZKX+yXvqySLlINH6+IbSdpSW3NBOAoQm5HuJJoxuF8
                        KwKyoQoqYWFxHIEp7XmGmdBsmGqH/qMo/wAsuGQdeQvpcXDe0ycA5/tX6J5C6RWMRShsWACdJZOl
                        33i+42/pD5T80jxpNop3VXhNJDL2ukTPQPkBqG+h7Jajk5VQ/xk5f8C6+/ZuBjJZ62bAXSsoLQ71
                        yU/Sy0RbSe5Gk2+zsgqn5ZTcLozvovYPAmgRZToNmn01UhmHibgZqsunk4JX6JZUwV0id8T2bQBm
                        xHdaf+wGELXbdyviZrKFcjuMBlaTy0U47gT2UKhfQ5Uspsx2nJB+OShNolRtvYkSs0Y2VMIOn77a
                        6BlJlaQD6IuBaJOjXQZtxUT2+W5pG9HOow3nDI57goGMpVLeW4Ymrkpf/R7r4cOVUqnTAng7tUOX
                        XBS1MfInYeCxInRXa0XJI6F+DB3wyq14Y1aKOoO8T2TmcCaR5nMoucmUQXsb+6yDhF83MNvzlZGC
                        PjQQPfZ+23e0icD8PR1AYtGVkkTj/5PyTcrDee5mIKI3BtSDgcyRzGq1YwNIysyb/L23OxJYH+8T
                        O66Qeo7nvQi4nWiCTJeZfcAMOBI7tWFT6gMkjxPP1BtUouAglV+LyusTuhOGk+e2c5ve8MNh6STn
                        gG1YK6mrBwMpsZg6I73Oeb9xHxVxLhagn/ldckcCS4GOgNuqTabWZRFfJZU0i15iJmovczpeZT54
                        OKhkMuAumBhfRh9wszkN6s2000IqYyndsQhjicKdgiTXBme2qjm0PA+UUD0u3WKO5+nsraNUj3Jq
                        NjYrOXkN9yEAG2pG9e73PrnG0xFXL0HhtN+DNdJZhs96Ss+GlwCkgKHUZetoHXkNQKvIMw6iBjaU
                        mWImYF0djn4WZerq2vYnwwp+UlfGQBIUMglNoQ0vtgNQO1L7cKSNOD8EkDpoNDPPFzLptMTvR+aS
                        34bY5FxKsoLOmUcZO/8+H+6ggeNEfwJ2CDB9RHt0IiqgIxpxIejLacmTAZSqoqhCDOAIrfgikSZn
                        vCelic/BDI6LYcjMGJif1zRCPetvcryzvud82PtM6BG8C14ZnzQT6spm0pgYLByRWbmH4fMAqeZw
                        uoXhUtqz1wyDdovS5dzonMPY5evRnnThdfPPP4+fip0SR53LkVrCyWhHoyhJp8RA2piAPZiMoT0n
                        9dnMDHiciBsAyLonjeb9+12QABlBrueQ+xLynOtoXZqmm/v2XekU5VoL5R3kuZ8/TvoFoFuxHtdN
                        bx6DioEUpX4n1CLA0wjMYkM/A/mdOCAAD4Hwg8W5HkupWhc3mAMssKf4gfo/D2f6UdWbisQAAAAA
                        SUVORK5CYII=
                        "
                    id="image77"
                />
            </g>
        </svg>
    </div>
    <nav id="tasks"></nav>
    <div id="info">
        <div id="info-icons">
            <div id="info-vibrate-status">
                <vibrate-icon></vibrate-icon>
            </div>
            <div id="info-battery-status">
                <battery-icon></battery-icon>
            </div>
            <div id="info-network-status">
                <network-icon></network-icon>
            </div>
        </div>
        <div id="info-datetime">
            <span id="current-time"></span>
            <span id="current-date"></span>
        </div>
    </div>
</div>
